<app-loading *ngIf="loading"></app-loading>

<div class="row">
    <div class="col-2">
        <img [src]="artista.images | noimage" class="img-thumbnail img-circle" alt="">
    </div>
    <div class="col-2">
        <h3> {{ artista.name }}</h3>
        <p>
            <a [href]="artista.external_urls.spotify" target="_blank">Ir a la página del artista</a>
        </p>
    </div>
    <div class="col-4 text-right">
        <button routerLink="/search" class="btn btn-outline-danger">Regresar</button>
    </div>
</div>

<div class="row">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>Album</th>
                    <th>Cancion</th>
                    <th>Vista Previa</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let track of topTracks">
                    <td><img [src]="track.album.images | noimage" class="img-thumb img-circle"></td>
                    <td class="text-white">{{ track.album.name }}</td>
                    <td>{{ track.name }}</td>
                    <!-- <td><audio [src]="track.preview_url" controls></audio></td> -->
                    <td><iframe [src]="track.uri | domseguro" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></td>

                </tr>
            </tbody>
            <tfoot>

            </tfoot>
        </table>
    </div>
</div>