<app-loading *ngIf="loading" class="m-5"></app-loading>

<div class="row">
    <div class="col">
        <input #termino type="text" (keyup)="buscar(termino.value)" class="form-control" placeholder="Buscar artista...">
    </div>
</div>
<div>
    <app-tarjetas class="m-5 animated fadeIn" *ngIf="!loading" [items]="artistas"></app-tarjetas>
</div>