<h1> {{heroe.nombre | uppercase}} <small> ({{heroe.aparicion | date:'y' }})</small></h1>
<hr>
<div class="row animated fadeIn fast">
    <div class="col-md-4">
        <img [src]="heroe.img" alt="" class="img-fluid">
        <br><br>
        <a [routerLink]="['/heroes']" class="btn btn-outline-danger btn-block">Regresar</a>
    </div>

    <div class="col-md-8">
        <h3>{{ heroe.nombre }}</h3>
        <hr>
        <p>{{ heroe.bio }}</p>
        <div>
            <img *ngIf="heroe.casa == 'Marvel'" src="assets/img/LogoMarvel.png" alt="Marvel" class="img-logo rounded-circle">
            <img *ngIf="heroe.casa == 'DC'" src="assets/img/dclogo.png" alt="DC" class="img-logo rounded-circle">
        </div>
    </div>

</div>