<h1>Busqueda por: <small>{{ termino }}</small></h1>
<hr>

<div class="row" *ngIf="heroes.length == 0">
    <div class="col-md-12">
        <div class="alert alert-danger"> No existen resultados con el termino: <b>{{ termino }}</b></div>
    </div>
</div>
<div class="card-columns">
    <app-heroe-tarjeta [heroe]="heroe" [index]="heroe.idx" *ngFor="let heroe of heroes; let i = index"></app-heroe-tarjeta>
</div>