<div class="row row-cols-1 row-cols-md-3 m-5 animated fadeIn">
    <div class="col mb-4 puntero" *ngFor="let item of items" (click)="verArtista(item)">
        <div class="card h-100">
            <img [src]="item.images | noimage " class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ item.name }}</h5>
                <p class="card-text">
                    <span *ngFor="let artista of item.artists" class="badge badge-primary">{{ artista.name }}</span>
                </p>
            </div>
        </div>
    </div>
</div>