<h1 class="animated fadeIn fast">Hola Soy un H1 de About</h1>
<hr>

<p class="lead">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet esse fugiat deleniti aliquid possimus provident quo harum iste, atque inventore adipisci eaque cumque, et officia saepe laborum voluptates tempora asperiores.
</p>