<div [ngSwitch]="alerta">
    <div *ngSwitchCase="'success'">Success</div>
    <div *ngSwitchCase="'info'">Info</div>
    <div *ngSwitchCase="'warning'">warning</div>
    <div *ngSwitchDefault>output2</div>
</div>

<button type="button" (click)="alerta='success'" class="btn btn-primary">Cambiar</button>

<div [ngSwitch]="alerta">
    <div class="alert alert-success" role="alert" *ngSwitchCase="'success'">
        A simple success alert—check it out!
    </div>
    <div class="alert alert-danger" role="alert" *ngSwitchCase="'info'">
        A simple danger alert—check it out!
    </div>
    <div class="alert alert-warning" role="alert" *ngSwitchCase="'warning'">
        A simple warning alert—check it out!
    </div>
    <div class="alert alert-info" role="alert" *ngSwitchDefault>
        A simple info alert—check it out!
    </div>
</div>