<h1>Héroe <small>Nombre del Heroe</small></h1>
<hr>

<div class="row text-right">
    <div class="col">
        <button class="btn btn-danger" routerLink="/heroes">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            Regresar
        </button>
    </div>
</div>

<div class="row animate fadeIn faster">
    <div class="col">
        <form (ngSubmit)="guardar(form)" #form="ngForm">

            <div class="form-group">
                <label>Firebase ID</label>
                <input type="text" class="form-control" disabled="disabled" placeholder="FireBase ID" [(ngModel)]="heroe.id" name="id">
                <small class="form-text text-muted">Este campo es autogenerado</small>
            </div>

            <div class="form-group">
                <label>Nombre</label>
                <input type="text" class="form-control" required placeholder="Nombre del Heroe" name="nombre" [(ngModel)]="heroe.nombre">
            </div>

            <div class="form-group">
                <label>Poder</label>
                <input type="text" class="form-control" required placeholder="Poder del Heroe" name="poder" [(ngModel)]="heroe.poder">
            </div>

            <div class="form-group">
                <label>Estado</label>
                <br>
                <button class="btn btn-outline-success w-50" type="button" *ngIf="heroe.vivo" (click)="heroe.vivo = false">
                    <i class="fa fa-smile-o" aria-hidden="true"></i>
                    Vivo
                </button>

                <button class="btn btn-outline-danger w-50" type="button" *ngIf="!heroe.vivo" (click)="heroe.vivo = true">
                    <i class="fa fa-smile-o" aria-hidden="true"></i>
                    Muerto
                </button>
            </div>

            <hr>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary w-25"><i class="fa fa-floppy-o" aria-hidden="true"></i>Guardar</button>
            </div>


        </form>
    </div>
</div>