<div class="row">
    <div class="col">
        <h1>*ngIf</h1>
        <hr>
        <div *ngIf="mostrar" class="card text-white bg-primary mb-3" style="max-width: 50rem;">
            <div class="card-body">
              <h5 class="card-title">{{ frase.autor }}</h5>
              <p class="card-text"> {{ frase.mensaje }}</p>
            </div>
        </div>
        <button class="btn btn-outline-primary btn-block" (click)="mostrar = !mostrar ">Mostrar/Ocultar</button>
    </div>
    <div class="col">
        <h1>*ngFor</h1>
        <hr>
        <ul class="list-group">
            <li *ngFor="let personaje of personajes" class="list-group-item">{{ personaje }}</li>
        </ul>
    </div>
</div>