<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>Agregar Lista</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <h1>Agregar Lista</h1>
</ion-content>