<h4>Formularios <small> tipo </small></h4>
<hr>
<form autocomplete="off" (ngSubmit)="guardar(forma)" #forma="ngForm">

    <div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col-8">
                <input class="form-control" name="nombre" [class.is-invalid]="nombre.invalid && nombre.touched" [ngModel]="usuario.nombre" type="text" placeholder="Nombre" required #nombre="ngModel">
                <small *ngIf="nombre.invalid && nombre.touched" class="form-text text-danger">Ingrese 5 letras</small>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col-8">

                <input class="form-control" name="apellido" [class.is-invalid]="apellido.invalid && apellido.touched" [ngModel]="usuario.apellido" type="text" placeholder="Apellido" required #apellido="ngModel">
                <small *ngIf="apellido.invalid && apellido.touched" class="form-text text-danger">Ingrese 5 letras</small>
            </div>
        </div>

    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col-8">
            <input [ngModel]="usuario.correo" #correo="ngModel" name="correo" class="form-control" type="email" [class.is-invalid]="correo.invalid && correo.touched" placeholder="Correo electrónico" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required minlength="5">
            <small *ngIf="correo.invalid && correo.touched" class="form-text text-danger">El correo es obligatorio</small>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Pais</label>
        <div class="col-8">
            <select #pais="ngModel" name="pais" id="pais" class="form-control" [ngModel]="usuario.pais" [disabled]="paises.length === 0" [class.is-invalid]="pais.invalid && pais.touched" required> 
                <option *ngFor="let pais of paises" [value]="pais.codigo"> {{ pais.nombre }}</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">Genero</label>
        <div class="input-group col-md-8">
            <div class="form-check form-check-inline">
                <label class="form-check-label">Masculino</label>
                <input type="radio" class="form-check-input" name="genero" value="M" ngModel required #genero="ngModel" [class.is-invalid]="genero.invalid && genero.touched">
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label">Femenino</label>
                <input type="radio" class="form-check-input" name="genero" value="F" [ngModel]="usuario.genero" required #genero="ngModel" [class.is-invalid]="genero.invalid && genero.touched">
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
        </div>
    </div>

</form>