<h1>Heroes <small>Marvel y DC</small></h1>
<hr>

<!-- *ngFor="let heroe of heroes; let i = index" -->
<div class="card-columns">
    <app-heroe-tarjeta (hereoeSeleccionado)="verHeroe($event)" [heroe]="heroe" [index]="i" *ngFor="let heroe of heroes; let i = index"></app-heroe-tarjeta>
</div>