<div class="jumbotron jumbotron-fluid animated fadeIn fast">
    <div class="container">
        <h1 class="display-4">Comic App</h1>
        <p class="lead">Probando el Jumbotron para una aplicacion de Comics.</p>
    </div>
</div>