<h1>Listado de Heroes</h1>
<hr>

<div class="row">
    <div class="col text-right">
        <button class="btn btn-primary" routerLink="/heroe/nuevo"><i class="fa fa-plus"></i>Agregar</button>
    </div>
</div>

<table class="table mt-3 animated fadeIn faster">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Poder</th>
            <th scope="col">Vivo</th>
            <th scope="col">Tools</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let heroe of heroes; let i=index">
            <th scope="row">{{ i+ 1 }}</th>
            <td>{{ heroe.nombre }}</td>
            <td>{{ heroe.poder }}</td>
            <td>
                <label *ngIf="heroe.vivo" class="badge badge-success"></label>
                <label *ngIf="!heroe.vivo" class="badge badge-success"></label>
            </td>
            <td>
                <button class="btn btn-info mr-1" [routerLink]="['/heroe', heroe.id]">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
                <button class="btn btn-danger mr-1" (click)="borrarHeroe(heroe , i )">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>

<div class="alert alert-info text-center mt-3">
    <h4 class="alert-heading">Cargando</h4>
    <p>
        <i class="fa fa-refresh fa-spin fa-2x" aria-hidden="true"></i>
    </p>
    <p class="mb-0">
        Espere por favor
    </p>
</div>

<div class="alert alert-warning text-center mt-3">
    <h4 class="alert-heading">No hay registros</h4>
    <p>
        <i class="fa fa-exclamation fa-3x" aria-hidden="true"></i>
    </p>
</div>