<div [ngClass]="alerta" class="alert" role="alert">
    A simple primary alert—check it out!
</div>

<button class="btn btn-info" (click)="alerta = 'alert-info'">Info</button>
<button class="btn btn-success" (click)="alerta = 'alert-success'">Success</button>

<!-- <h3 [ngClass]="{ 'text-danger': propiedades.danger, 'text-info': !propiedades.color }">
    Hola Vieja
</h3> -->

<br><br>
<h3>Proceso Asincrono</h3>

<button (click)="ejecutar()" class="btn btn-primary" type="button" name="button" [disabled]="loading">
    <i [ngClass]="{ 'fa-save': !loading, 'fa-refresh fa-spin':loading}" 
    class="fa fa-refresh fa-spin"></i>
    <span *ngIf="!loading">Guardar Cambios</span>
    <span *ngIf="loading">Espere por favor</span>
</button>